<h1>Fondos Disponibles</h1>
        <table class="funds-table">
          <thead>
            <tr>
              <th>Fondo</th>
              <th>Monto Mínimo</th>
              <th>Categoría</th>
              <th>Notificacion</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (fund of funds; track fund.id) {
                <tr>
                    <td>{{fund.name}}</td>
                    <td>{{fund.minAmount}}</td>
                    <td>{{ category[fund.categoryId]}}</td>
                    <td>
                      <select [selectedIndex]=2>
                        <option value="1">Email</option>
                        <option value="2">Sms</option>
                      </select>
                    </td>
                    <td><button class="subscribe" (click)="subscribeFund(fund, getAction(fund.id))">{{getAction(fund.id)}}</button></td>
                  </tr>
            }
            
          </tbody>
        </table>
